:root {
  --dkblack: hsl(0, 0%, 0%);
  --black: hsl(0, 0%, 11%);
  --ltblack: hsl(0, 0%, 21%);
  --white: hsl(0, 0%, 100%);
  --dkwhite: hsl(0, 8%, 71%);
  --gray: hsl(0, 0%, 49%);
  --yellow: hsl(60, 100%, 50%);
  --blue: hsl(240, 100%, 50%);
  --red: hsl(0, 100%, 50%);
  --orange: hsl(39, 100%, 50%);
  --coolorange: hsl(0, 82%, 73%);
  // --chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%);
}