@use '../util/' as *;

.body {
  background: linear-gradient(var(--white), var(--gray), var(--white)), 
              no-repeat center center fixed;
    background-size: cover;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--dkwhite);
  border-radius: 2rem;
  margin-top: 6rem;
  width: 41.75rem;
  
  @media (max-width: 43em) {
    width: 20.75rem;
  }
  
  &__title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  p {
    font-size: rem(20);
    line-height: 1.5;
    font-weight: bold;
    // color: liniar-gradient
  }

  &:hover {
    background-color: var(--gray);
  }
}

.card2 {
  position: relative;
  top: rem(215);
  
  // @media (min-width: 93.875em) {
  //   top: rem(130);
  //   bottom: rem(215);
  //   left: rem(403);
  // }
}