@use '../util/' as *;

.membrii {
  
  &__title {
    display: flex;
    justify-content: end;
    font-size: rem(41);
    font-weight: 700;
    margin-right: rem(10);
    margin-top: rem(6);
  }

  img {
    //pozele sa fie in dreapta jos!!!
    border-radius: 28%;
    display: flex;
    justify-self: right;
    height: rem(300);
    width: rem(300);

    @media (max-width: 40em) {
      display: flex;
      justify-content: center;
    }
  }

  &__h1 {
    color: var(--black);
    display: flex;
    justify-content: center;
    font-size: rem(41);
  }

    .s {
    
    @media (min-width: 43em) {
      position: relative;
      left: rem(387);
    }
    
    a,
    img {
      display: inline-block;
      vertical-align: middle;
    }
    
    img {
      max-width: rem(60);
      max-height: rem(60);

      @media (max-width: 43em){
        margin-left: rem(50);

      }
      
    }
    
    a {
      white-space: nowrap;
      font-weight: 700;
      font-size: 1.25rem;
    }
  }
}